#wrapper{
	max-width: 75rem;
	display: block;
	margin: 0;
	background-color: grey;
}

.title {
	width: 170px;
	border: 2px solid black;
	display: table;
	margin: 0px 0px 4px 260px;
	text-align: center;
}
p{
	margin: 0px 0px 20px 0px;
}

.time {
	width: 400px;
	border: 2px solid black;
	margin: 0px 0px 0px 150px;
	text-align: center;
}